.nav-top{
	background-color: #3F3F3F;
	border:none;
	padding:0;
	border-bottom: 1px solid #2F2F2F;

}
.nav-main{
	width:70%;
	margin:0px auto;
	font-size: 18px;

}
.nav-log{
	font-size: 28px;
	font-family: '微软雅黑';
	font-weight: bold;
}
/* .nav > li:hover .dropdown-menu {
	display: block;
} */
.nav > li{
	margin-right: 20px;
	height:100%;
}
.nav-btn{
	//height:40px;
	font-size: 16px;
	background-color:#EA6F5A;
	color:#fff;
	margin-top: .5%;
	/* float: right;
	display: block; */
}
.nav-search{
	margin-top: 5%;
	border-radius: 20px;
	background-color: #4F4F4F;
	border:none;
}
.nav-mid{
	width:60%;
	min-width: 500px;
	float: left;
	margin-left: 100px;
}
.ic-search{
	display: block;
	position: absolute;
	top:30%;
	left:86%;
	cursor:pointer;
	color:#C8C8C8;
}
.model{
	width:500px;
	height:500px;
	position: fixed;
	z-index: 1000;
	background-color: #fff;
	left: 50%;
	top:50%;
	margin-left: -250px;
	margin-top: -250px;
	display: none;
}
.model-p{
	width:50%;
	display: block;
	margin:0 auto;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.box{
	width:70%;
	height:200px;
	line-height: 200px;
	border:1px solid #000;
}
.fill-available{
	display: inline-block;
	vertical-align: middle;
	width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -moz-available;    /* FireFox目前这个生效 */
    width: fill-available;
	background-color: #eee;
}